<launch>
  <arg name="kiosk" default="true" />
  <arg name="tilt" default="true" />

  <param name="/viewport/triple" value="1920x800+0+0" />

  <node name="dev_webserver" pkg="lg_common" type="dev_webserver.py" />
  <node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" />
  <node name="test_uscs_service_node" pkg="lg_common" type="uscs_service.py" />
  <node name="readiness_node" pkg="lg_common" type="readiness.py"/>
  <node name="sv_server" pkg="lg_sv" type="server.py" />
  <node name="spacenav" pkg="spacenav_node" type="spacenav_node" />
  <node name="spacenav_wrapper" pkg="spacenav_wrapper" type="spacenav_wrap.py" />

  <node name="sv_center" pkg="lg_sv" type="launcher.py">
    <param name="kiosk" value="$(arg kiosk)"/>
    <param name="tilt" value="$(arg tilt)"/>
    <param name="viewport" value="triple"/>
    <param name="depend_on_rosbridge" value="true"/>
    <param name="depend_on_webserver" value="true"/>
    <param name="yaw_offsets" value="-1,0,1"/>
    <param name="show_links" value="true"/>
    <param name="show_fps" value="true"/>
  </node>
</launch>
