<launch>
  <arg name="broadcast_addr" />

  <arg name="spnav_path" default="/dev/input/spacenavigator" />

  <param name="/viewport/left_one" value="640x480+0+0" />
  <param name="/viewport/center" value="640x480+640+0" />
  <param name="/viewport/touchscreen" value="640x480+640+960" />
  <param name="/viewport/right_one" value="640x480+1280+0" />
  <param name="/viewport/pv_left_one" value="640x480+0+480" />
  <param name="/viewport/pv_center" value="640x480+640+480" />
  <param name="/viewport/pv_right_one" value="640x480+1280+480" />

  <!-- Development static file server. -->
  <node name="dev_webserver" pkg="lg_common" type="dev_webserver.py" />

  <!-- Local rosbridge and rosapi. -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- Device drivers. -->
  <node name="spacenav" pkg="spacenav_node" type="spacenav_node" clear_params="true" />

  <!-- Some Google Earths. -->
  <node name="earth_left_one" pkg="lg_earth" type="client" clear_params="true">
    <param name="viewsync_recv" value="true" />
    <param name="viewsync_hostname" value="$(arg broadcast_addr)" />
    <param name="yaw_offset" value="65" />
    <param name="viewport" value="left_one" />
  </node>
  <node name="earth_center" pkg="lg_earth" type="client" clear_params="true">
    <param name="viewsync_send" value="true" />
    <param name="spacenav_device" value="$(arg spnav_path)" />
    <param name="show_compass" value="true" />
    <param name="viewport" value="center" />
  </node>
  <node name="touchscreen_browser" pkg="lg_common" type="static_browser.py" clear_params="true">
    <param name="url" value="http://i.imgur.com/0MPdu31.gif" />
    <param name="viewport" value="touchscreen" />
  </node>
  <node name="earth_right_one" pkg="lg_earth" type="client" clear_params="true">
    <param name="viewsync_recv" value="true" />
    <param name="viewsync_hostname" value="$(arg broadcast_addr)" />
    <param name="yaw_offset" value="-65" />
    <param name="viewport" value="right_one" />
  </node>
  <!-- Google Earth viewsync relay. -->
  <node name="viewsync_relay" pkg="lg_earth" type="viewsync_relay" clear_params="true">
    <param name="repeat_host" value="$(arg broadcast_addr)" />
  </node>

  <!-- Google earth query interface. -->
  <node name="query_writer" pkg="lg_earth" type="query" clear_params="true" />

  <!-- Google earth KMLSync <-> KMLSyncState http proxy -->
  <node name="kmlsync_proxy" pkg="lg_earth" type="kmlsync" clear_params="true" />

  <!-- Google earth KMLSyncState -->
  <node name="kmlsync_state" pkg="lg_earth" type="kmlsync_state" clear_params="true" />

  <!-- StreetView -->
  <!--
  <node name="sv_server" pkg="lg_sv" type="server.py" clear_params="true" >
    <param name="server_type" value="streetview" />
  </node>
  <node name="sv_launcher_left_one" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_left_one" />
    <param name="yaw_offset" value="-1" />
  </node>
  <node name="sv_launcher_center" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_center" />
    <param name="show_links" value="true" />
  </node>
  <node name="sv_launcher_right_one" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_right_one" />
    <param name="yaw_offset" value="1" />
  </node>
  -->

  <!-- PanoViewer -->
  <!--
  <node name="pv_server" pkg="lg_sv" type="server.py" clear_params="true" >
    <param name="server_type" value="panoviewer" />
  </node>
  <node name="pv_launcher_left_one" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_left_one" />
    <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
    <param name="yaw_offset" value="-1" />
    <param name="server_type" value="panoviewer" />
  </node>
  <node name="pv_launcher_center" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_center" />
    <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
    <param name="show_links" value="true" />
    <param name="server_type" value="panoviewer" />
  </node>
  <node name="pv_launcher_right_one" pkg="lg_sv" type="launcher.py" clear_params="true">
    <param name="viewport" value="pv_right_one" />
    <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
    <param name="yaw_offset" value="1" />
    <param name="server_type" value="panoviewer" />
  </node>
  -->
</launch>
