<launch>
    <!-- PanoViewer -->
    <node name="pv_server" pkg="lg_sv" type="server.py" clear_params="true" >
      <param name="server_type" value="panoviewer" />
    </node>
    <node name="pv_launcher_left_one" pkg="lg_sv" type="launcher.py" clear_params="true">
      <param name="viewport" value="pv_left_one" />
      <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
      <param name="yaw_offset" value="-1" />
      <param name="server_type" value="panoviewer" />
    </node>
    <node name="pv_launcher_center" pkg="lg_sv" type="launcher.py" clear_params="true">
      <param name="viewport" value="pv_center" />
      <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
      <param name="show_links" value="true" />
      <param name="server_type" value="panoviewer" />
    </node>
    <node name="pv_launcher_right_one" pkg="lg_sv" type="launcher.py" clear_params="true">
      <param name="viewport" value="pv_right_one" />
      <param name="url" value="http://localhost:8008/lg_sv/webapps/client/pano.html" />
      <param name="yaw_offset" value="1" />
      <param name="server_type" value="panoviewer" />
    </node>
</launch>
