Source: ros-indigo-lg-earth
Section: misc
Priority: extra
Maintainer: End Point Corp LG R&D <lg-rad@endpoint.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-rospy, python-requests
Homepage: http://liquid-galaxy.endpoint.com
Standards-Version: 3.9.2

Package: ros-indigo-lg-earth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-std-msgs, ros-indigo-message-runtime, ros-indigo-rospy, ros-indigo-geometry-msgs, ros-indigo-appctl, ros-indigo-interactivespaces-msgs, ros-indigo-lg-common
Description: Google earth runner
Replaces: __REPLACES__
Conflicts: __REPLACES__
