Source: ros-indigo-lg-common
Section: misc
Priority: extra
Maintainer: End Point Liquid Galaxy Team <lg@endpoint.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-rospy, ros-indigo-message-generation, ros-indigo-catkin
Homepage: https://github.com/EndPointCorp/lg_ros_nodes
Standards-Version: 3.9.2

Package: ros-indigo-lg-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime, ros-indigo-appctl, ros-indigo-std-msgs, ros-indigo-interactivespaces-msgs, ros-indigo-rospy, ros-indigo-rosbridge-suite
Description: Common software for Liquid Galaxy ROS nodes.
Replaces: __REPLACES__
Conflicts: __REPLACES__

