<launch>
  <arg name="kiosk" value="false" />
  <arg name="h_fov" default="30" />
  <arg name="clock_port" default="9091" />
  <arg name="clock_addr" default="ws://localhost:$(arg clock_port)" />

  <param name="/viewport/left" value="800x600+0+0" />
  <param name="/viewport/right" value="800x600+800+0" />
  <node name="uscs_service" pkg="lg_common" type="uscs_service.py" />
  <node name="webserver" pkg="lg_common" type="dev_webserver.py" />
  <node name="rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" />
  <node name="ws_distributor" pkg="lg_panovideo" type="ws_distributor">
    <param name="port" value="$(arg clock_port)" />
  </node>
  <node name="sv_server" pkg="lg_sv" type="server.py" >
    <param name="server_type" value="panovideo" />
    <param name="inverted" value="true" />
  </node>
  <node name="spacenav" pkg="spacenav_node" type="spacenav_node" />
  <node name="spacenav_wrapper" pkg="spacenav_wrapper" type="spacenav_wrap.py" />
  <node name="launcher" pkg="lg_panovideo" type="launcher.py">
    <param name="kiosk" value="$(arg kiosk)" />
    <param name="fov" value="$(arg h_fov)" />
    <param name="clock_addr" value="$(arg clock_addr)" />
    <param name="leader" value="true" />
    <param name="yaw_offsets" value="-$(arg h_fov),0,$(arg h_fov)" />
    <param name="viewports" value="left, right" />
  </node>
</launch>
