Section: misc
Priority: extra
Homepage: http://liquid-galaxy.endpoint.com
Standards-Version: 1.1.1-__GIT_BRANCH__

Package: ros-indigo-portal-__GIT_BRANCH__
Version: 1.1.1-__GIT_BRANCH__
Maintainer: End Point Corp LG R&D <lg-rad@endpoint.com>
Depends: __DEPENDS__
Suggests: ros-indigo-desktop-full
Architecture: any
Description: Portal metapackage
  Provides all portal ros nodes needed
  for the operation of Portal machines
Replaces: __REPLACES__
Conflicts: __REPLACES__
