<launch>
  <param name="/viewport/left_one" value="450x800+0+0" />
  <param name="/viewport/center" value="450x800+480+0" />
  <param name="/viewport/right_one" value="450x800+960+0" />
  <param name="/lg_mirror/janus_rest_uri" value="http://localhost:8188/janus" />
  <param name="/lg_mirror/janus_stream_host" value="localhost" />

  <node name="dev_webserver" pkg="lg_common" type="dev_webserver.py" />

  <node name="mirror_capture_left_one" pkg="lg_mirror" type="capture_viewport_node">
    <param name="viewport" value="left_one" />
    <param name="janus_port" value="6000" />
  </node>
  <node name="mirror_capture_center" pkg="lg_mirror" type="capture_viewport_node">
    <param name="viewport" value="center" />
    <param name="janus_port" value="6001" />
  </node>
  <node name="mirror_capture_right_one" pkg="lg_mirror" type="capture_viewport_node">
    <param name="viewport" value="right_one" />
    <param name="janus_port" value="6002" />
  </node>

  <node name="mirror_playback_left_one" pkg="lg_mirror" type="playback_node">
    <param name="viewport" value="left_one" />
  </node>
  <node name="mirror_playback_center" pkg="lg_mirror" type="playback_node">
    <param name="viewport" value="center" />
  </node>
  <node name="mirror_playback_right_one" pkg="lg_mirror" type="playback_node">
    <param name="viewport" value="right_one" />
  </node>
</launch>
